body {
    padding: 0;
    margin: 0;
    background: #252525;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
}

@media screen and (min-width: 680px){
    /*Header*/
    .header {
        margin: 3vh 5%;
        position: absolute;
        height: 10vh;
        width: 90%;

        background: rgba(255, 255, 255, 0.55);
        backdrop-filter: blur(50px);

        border-radius: 10px;

        z-index: 1000;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .container {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .header__inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        margin: 0 0 0 3%;
        width: 5%;
        height: 80%;

        background-image: url('../images/LogoMini.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .nav {
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: flex;
    }

    .nav__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 3vw;
        position: relative;
        color: #1F1E1E;
        text-decoration: none;
        cursor: pointer;
    }

    .nav__link:after {
        content: "";
        display: none;
        width: 100%;
        height: 3px;
        left: 0;
        z-index: 1;

        background-color: #1F1E1E;

        position: absolute;
    }

    .nav__link:hover:after {
        display: block;
    }

    .stick {
        margin: 2vh 0 0 0;
        width: 7vh;
        height: 0;

        background: #252525;
        border: 2px solid #252525;
        transform: rotate(-90deg);
    }

    .users__icons {
        height: 100%;
        width: 12%;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .user__box__link {
        height: 52px;
        width: 53px;
        margin: 0 1vw;

        text-decoration: none;

        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: flex;

    }

    .icon {
        width: 42px;
        height: 43px;

        background-image: url('../images/Box.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .circle {
        height: 36px;
        width: 36px;

        margin: 50% 0 0 40%;

        background-image: url('../images/Circle.png');
        background-repeat: no-repeat;
        background-size: contain;

        text-align: center;

    }

    .circle__text {
        color: #1F1E1E;
        transform: translate(-3%, 10%);
    }

    .user__status__link__off {
        margin: 0 5%;
        height: 80%;
        width: 5%;

        background-image: url('../images/UserStatusOff.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }

    .user__status__link__on {
        margin: 0 5%;
        height: 80%;
        width: 10%;

        background-image: url('../images/UserStatusOn.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }

    /*Footer*/

    .footer {
        margin: 0 auto;
        height: 50vh;
        width: 50vw;
    }

    .footer__inner {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .footer__text {
        width: 100%;
        height: 10%;
        margin: 20% 0;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        color: white;
        text-align: center;
    }

    .cat__light {
        margin: -15% auto;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cat {
        margin: -30% auto;
        width: 40%;
        height: 80%;
        background-image: url('../images/WebCat.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .light {
        width: 80%;
        height: 80%;

        margin: 0 auto;
        background: rgba(33, 41, 237, 0.21);
        filter: blur(120px);

        z-index: -1;
    }

    .footer__links {
        margin: 0 auto;
        width: 40%;
        height: 10%;
        display: flex;
        justify-content: space-between;
    }

    .VK {
        width: 5vw;
        height: 5vw;
        background-image: url('../images/VK.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .TG {
        width: 5vw;
        height: 5vw;
        background-image: url('../images/TG.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

@media screen and (max-width: 680px) {
    /*Header*/
    .header1 {
        margin: 3vh 5%;
        position: absolute;
        height: 10vh;
        width: 90%;

        background: rgba(255, 255, 255, 0.55);
        backdrop-filter: blur(50px);

        border-radius: 10px;

        z-index: 1000;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .container {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .header__inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        margin: 0 0 0 3%;
        width: 5%;
        height: 80%;

        background-image: url('../images/LogoMini.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .nav {
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: flex;
    }

    .nav__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 3vw;
        position: relative;
        color: #1F1E1E;
        text-decoration: none;
        cursor: pointer;
    }

    .nav__link:after {
        content: "";
        display: none;
        width: 100%;
        height: 3px;
        left: 0;
        z-index: 1;

        background-color: #1F1E1E;

        position: absolute;
    }

    .nav__link:hover:after {
        display: block;
    }

    .stick {
        margin: 2vh 0 0 0;
        width: 7vh;
        height: 0;

        background: #252525;
        border: 2px solid #252525;
        transform: rotate(-90deg);
    }

    .users__icons {
        height: 100%;
        width: 12%;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .user__box__link {
        height: 52px;
        width: 53px;
        margin: 0 1vw;

        text-decoration: none;

        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: flex;

    }

    .icon {
        width: 42px;
        height: 43px;

        background-image: url('../images/Box.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .circle {
        height: 36px;
        width: 36px;

        margin: 50% 0 0 40%;

        background-image: url('../images/Circle.png');
        background-repeat: no-repeat;
        background-size: contain;

        text-align: center;

    }

    .circle__text {
        color: #1F1E1E;
        transform: translate(-3%, 10%);
    }

    .user__status__link__off {
        margin: 0 5%;
        height: 80%;
        width: 5%;

        background-image: url('../images/UserStatusOff.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }

    .user__status__link__on {
        margin: 0 5%;
        height: 80%;
        width: 10%;

        background-image: url('../images/UserStatusOn.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }

    /*Footer*/
    .footer {
        margin: 0 auto;
        height: 50vh;
        width: 80%;
    }

    .footer__inner {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .footer__text {
        width: 100%;
        height: 5%;
        margin: 10% 0;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }

    .cat__light {
        margin: -40% auto;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cat {
        margin: -50% auto;
        width: 80%;
        height: 80%;
        background-image: url('../images/WebCat.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .light {
        width: 80%;
        height: 80%;

        margin: 0 auto;
        background: rgba(33, 41, 237, 0.21);
        filter: blur(120px);

        z-index: -1;
    }

    .footer__links {
        margin: 0 auto;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
    }

    .VK {
        width: 50%;
        height: 100%;
        background-image: url('../images/VK.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }

    .TG {
        width: 50%;
        height: 100%;
        background-image: url('../images/TG.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }

    .container {
        margin: 0;
    }


    .header__logo {
        margin: 0 0 0 3%;
        width: 5%;
        height: 50%;

        background-image: url('../images/LogoMini.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .nav {
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: flex;
    }

    .nav__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 3vw;
        position: relative;
        color: #1F1E1E;
        text-decoration: none;
        cursor: pointer;
    }

    .nav__link:after {
        content: "";
        display: none;
        width: 100%;
        height: 3px;
        left: 0;
        z-index: 1;

        background-color: #1F1E1E;

        position: absolute;
    }

    .nav__link:hover:after {
        display: block;
    }

    .stick {
        margin: 2vh 0 0 0;
        width: 7vh;
        height: 0;

        background: #252525;
        border: 2px solid #252525;
        transform: rotate(-90deg);
    }

    .users__icons {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .user__box__link {
        height: 52px;
        width: 53px;
        margin: 0 1vw;

        text-decoration: none;

        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        display: flex;

    }

    .icon {
        width: 42px;
        height: 43px;

        background-image: url('../images/Box.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .circle {
        height: 36px;
        width: 36px;

        margin: 50% 0 0 40%;

        background-image: url('../images/Circle.png');
        background-repeat: no-repeat;
        background-size: contain;

        text-align: center;

    }

    .circle__text {
        color: #1F1E1E;
        transform: translate(-3%, 10%);
    }

    .user__status__link__off {
        margin: 0 2vw;
        height: 100%;
        width: 53px;

        background-image: url('../images/UserStatusOff.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .user__status__link__on {
        margin: 0 2vw;
        height: 100%;
        width: 53px;

        background-image: url('../images/UserStatusOn.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    /*Footer*/
    .footer {
        margin: 0 auto;
        height: 50vh;
        width: 50vw;
    }

    .footer__inner {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .footer__text {
        width: 100%;
        height: 10%;
        margin: 20% 0;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        color: white;
        text-align: center;
    }

    .cat__light {
        margin: -15% auto;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cat {
        margin: -30% auto;
        width: 40%;
        height: 80%;
        background-image: url('../images/WebCat.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .light {
        width: 80%;
        height: 80%;

        margin: 0 auto;
        background: rgba(33, 41, 237, 0.21);
        filter: blur(120px);

        z-index: -1;
    }

    .footer__links {
        margin: 0 auto;
        width: 40%;
        height: 10%;
        display: flex;
        justify-content: space-between;
    }

    .VK {
        width: 5vw;
        height: 5vw;
        background-image: url('../images/VK.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .TG {
        width: 5vw;
        height: 5vw;
        background-image: url('../images/TG.png');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}
