.main__registr {
    margin: 0 auto;
    width: 99vw;
    height: 70vh;
}

.lapa {
    position: absolute;
    margin: 10% 8%;
    width: 20%;
    height: 50%;
    background-image: url('../images/Lapa.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.input__text {
    margin: 10% 0 1% 0;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: white;
    text-align: center;
}

.block {
    margin: 0 auto;
    width: 35%;
    height: 70%;
    border: 4px solid #E17521;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.change {
    margin: 0 auto 5% auto;
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: white;
    text-align: center;
}

.change__input {
    margin: auto 0;
    cursor: pointer;
}

.change__registration {
    margin: auto 0;
    cursor: pointer;
}

.form {
    margin: 0 auto 2% auto;
    width: 70%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input__zone {
    border: none;
    margin: 2% 0;
    height: 30%;
    width: 100%;
    background: #5B5B5B;
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-indent: 5%;
}

.input__zone::placeholder {color: #ADADAD;}

.button_reg {
    margin: 10% auto;
    border: none;
    background: none;

    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-indent: 0;
    color: white;

    text-align: center;

    cursor: pointer;
}